section.section-contact 
    .container
        .section-contact__info 
            h2.section-contact__title.title-2 Want to build something amazing?
            +button("GET IN TOUCH") 
        