footer.footer 
    .container 
        .footer__row 
            .footer__about 
                .footer__logo 
                    .logo 
                        h5.logo__title.title-5 COMPANY
                        img(src="./img/logo/logo.png", alt="logo")
                .footer__about-text
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
            .footer__nav 
                .footer__nav-title
                    h5.footer__nav-block-title.title-5 LINKS
                .footer__nav-blocks
                    .footer__nav-block                   
                        ul.footer__nav-list 
                            li.footer__nav-list-item  
                                a(href="#").footer__nav-item-link HOME
                            li.footer__nav-list-item  
                                a(href="#").footer__nav-item-link ABOUT
                            li.footer__nav-list-item  
                                a(href="#").footer__nav-item-link SERVICES
                            li.footer__nav-list-item  
                                a(href="#").footer__nav-item-link PROJECTS
                            li.footer__nav-list-item  
                                a(href="#").footer__nav-item-link CONTACT US
                    .footer__nav-block 
                        ul.footer__nav-list 
                            li.footer__nav-list-item  
                                a(href="#").footer__nav-item-link FAQ
                            li.footer__nav-list-item  
                                a(href="#").footer__nav-item-link TERMS
                            li.footer__nav-list-item  
                                a(href="#").footer__nav-item-link CAREERS
                    .footer__nav-block 
                        ul.footer__nav-list 
                            li.footer__nav-list-item  
                                a(href="#").footer__nav-item-link BLOG
                            li.footer__nav-list-item  
                                a(href="#").footer__nav-item-link PARTNERS
                            li.footer__nav-list-item  
                                a(href="#").footer__nav-item-link NEWS
            .footer__contact
                .footer__contact-block
                    h5.footer__contact-block-title.title-5 CONTACT US
                    ul.footer__contact-list 
                        li.footer__contact-list-item 213 Baker StreetOriel City Kounty7000 KNW,Kountry Name
                        li.footer__contact-list-item
                            a(href="+23 994 233 4022").footer__contact-list-link +23 994 233 4022
                        li.footer__contact-list-item
                            a(href="mailto:info@konstruct.com").footer__contact-list-link info@konstruct.com
            .footer__socials
                a(href="#").footer__socials-link
                    +facebook
                a(href="#").footer__socials-link 
                    +twitter
                a(href="#").footer__socials-link 
                    +google
        .footer__copyright
            p.footer__copyright-text &#169; 2017 Konstruct Inc. Designed by Jane Kathryn Teo