header.header 
    .header__wrapper
        .header__logo 
            img(src="./img/logo/logo.png", alt="").logo
        .container.header__content
            .header__title 
                h1.title-1 PARTNER WITH KONSTRUCT
            .header__subtitle 
                p An award-winning construction management firm
        .header__scroll 
            a(href="#story") SCROLL DOWN




