.header__nav
    .container
        .nav__row 
            .nav__logo 
                img(src="./img/logo/logo-black.png", alt="Konstruct")
            nav.nav
                ul.nav__list
                    li.nav__list-item
                        a(href="#").nav__item-link HOME
                    li.nav__list-item
                        a(href="#").nav__item-link.nav__item-link--active ABOUT
                    li.nav__list-item
                        a(href="#").nav__item-link SERVICES
                    li.nav__list-item
                        a(href="#").nav__item-link WORK
                    li.nav__list-item
                        a(href="#").nav__item-link CONTACT
                
                