section.section-service 
    .container 
        .section-service__row 
            h3.section-service__title.title-3.line-bottom.line-bottom--left OUR CAPABILITIES
            p.section-service__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
            +button("ALL SERVICES")
        .section-service__card-row 
            +service-card("management.png", "PROJECT AND CONSTRUCTION MANAGEMENT", "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.")
            +service-card("maintenance.png", "STRUCTURE AUDIT AND MAINTENANCE", "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.")
            +service-card("factory.png", "FACTORY CONSTRUCTION AND MODELING", "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.")