section.section-story(id="story") 
    .container 
        .section-story__header
            h3.section-story__header-title.title-3.line-bottom OUR STORY
        .section-story__row 
            .section-story__content
                p.section-story__text-main 
                    | Founded in 2011 by John Mathew Smith, 
                    span Konstruct
                    |  has become the number one construction management firm
                p.section-story__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat. 
            .section-story__cards-row
                .card 
                    img(src="./img/story/plan.jpg", alt="plan")
                    p WE PLAN
                .card          
                    img(src="./img/story/manage.jpg", alt="manage")
                    p WE MANAGE
                .card   
                    img(src="./img/story/build.jpg", alt="build")
                    p WE BUILD