.subscribe 
    .container
        .subscribe-content__row 
            .subscribe-content__text 
                p.subscribe__text Newsletter Signup
            .subscribe-content__form-row
                .subscribe-form
                    input(type="text" placeholder="test@youremail.com").subscribe-form__input
                +button("SIGNUP")
