.service-card {
  padding: 38px 22px;
  width: 295px;
  border: 1px solid #E6E6E6;
}

.service-card__img {
  margin-bottom: 25px;
}

.service-card__title {
  margin-bottom: 13px;
}

.service-card__text {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.2px;
}
