mixin service-card(img, title, text)
    .service-card 
        .service-card__img 
            img(src="./img/capabailities/" + img, alt="management")
        .service-card__title 
            h4.title-4 #{title}
        .service-card__text 
            p #{text}