extends ./../layouts/main.pug 

block variables 
    - const title = "Konstruct"

block content 
    include ./../sections/header.pug
    include ./../sections/menu.pug
    include ./../sections/story.pug
    include ./../sections/services.pug
    include ./../sections/contact.pug
    include ./../sections/subscribe.pug
    include ./../sections/footer.pug